
<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;

}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Cerveza Havlicek</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <link rel="icon" href="">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
         <a class="navbar-brand logo-text page-scroll" href="index.html">Havlicek</a> 
        

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">INTRODUCCIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#opinions">OPINIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#callme">REGISTRARME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">SOBRE NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">MANDAR OPINIONES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" onclick="RedirectionLogin()" href="#">INGRESAR</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><span id="js-rotating" class="titulosgrandes">UN PROYECTO, UNA CERVEZA, UNA FAMILIA</span></h1>
                            <p class="p-heading p-large titulosgrandes">Nuestra cerveza está siendo creada día a día con la mas grande dedicación y amor para que llegue a tu mesa y de lo mejor de sí.</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">SABER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
    </div>

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRODUCCIÓN</div>
                        <h2>Ofrecemos calidad a tu juntada.</h2>
                        <p>Nuestra cerveza tiene la intención de llegar a todos y cada uno de nuestros compradores con el mayor sabor.</p>
                        <p>Sin agregados de agua y con los precios más accesibles, manteniendo el sabor que se merece.</p>
                        <div class="testimonial-author"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="https://icdn2.themanual.com/image/themanual/beer-photography-510x510-c-ar1.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-binoculars fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Environment Analysis</h4>
                            <p>The starting point of any success story is knowing your current position in the business environment</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-list-alt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Development Planning</h4>
                            <p>After completing the environmental analysis the next stage is to design and  plan your development strategy</p>
                        </div>
                    </div>
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-chart-pie fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Execution & Evaluation</h4>
                            <p>In this phase you will focus on executing the actions plan and evaluating the results after each marketing campaign</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PRODUCTOS</div>
                    <h2>Nuestra variedad de productos<br> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t1.0-9/14067550_286778471691001_1753298273766508014_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=9267fe&_nc_ohc=S_EZS5zQeDwAX884ZGx&_nc_ht=scontent.fcor10-3.fna&oh=63819c06dcecae15c766cfbe5e66ecb1&oe=606D0203" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">IPA</h3>
                            <p> AAAAAAAAAAAAAAAAAAa</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Cerveza roja</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Con un final picante</div>
                                </li>
                            </ul>
                            @*<p class="price">Starting at <span>$199</span></p>*@
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t1.0-9/14358843_303171396718375_6221380465212176112_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=9267fe&_nc_ohc=tv0-43RxWrAAX8SpmcC&_nc_ht=scontent.fcor10-3.fna&oh=5d3d34358b5025ebd4e52775a11ae003&oe=606C23E8" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">HONEY</h3>
                            <p>AAAAAAAAAAAAAa</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Cerveza rubia</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">La cerveza preferida por las mujeres</div>
                                </li>
                            </ul>
                            @*<p class="price">Starting at <span>$299</span></p>*@
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t31.0-8/21316549_484043991964447_3209615817679294470_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Ma9_vYFkUG4AX8z14qt&_nc_ht=scontent.fcor10-3.fna&oh=d008e08915a7462631555b22f4db37f4&oe=606D1BFB" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">OLD BROWN ALE</h3>
                            <p>AAAAAA</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Cerveza negra</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Acquisitions the right way</div>
                                </li>
                            </ul>
                            @*<p class="price">Starting at <span>$299</span></p>*@
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>





    @*accelerate*@
<!--<div>-->

    @*@Html.PartialAsync("~/PartialViews/_Accelerate.cshtml")*@
    <!--<partial name="./PartialViews/_Accelerate.cshtml" />
</div>-->




    <div class="tabs">
        <div class="area-1">
            <div class="tabs-container">

                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Expertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Quality</a>
                    </li>
                </ul>
                <div class="tab-content" id="ariaTabsContent">

                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Business Services For Companies</h4>
                        <p>Aria provides the most innovative and customized business services in the industry. Our <a class="green page-scroll" href="#services">Services</a> section shows how flexible we are for all types of budgets.</p>

                        <div class="progress-container">
                            <div class="title">Business Development 100%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Opportunity Spotting 76%</div>
                            <div class="progress">
                                <div class="progress-bar second" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Online Marketing 90%</div>
                            <div class="progress">
                                <div class="progress-bar third" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> 

                    </div>
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body"><strong>Alta calidad</strong> es lo mas importante en nuestra lista de prioridades</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body"><strong>Máximo impacto</strong> es lo que buscamos en nuestro producto</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body"><strong>Estándares de calidad</strong> son altamente importantes. Pero hechos para ser excedidos.</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body"><strong>Siempre buscamos</strong> for industry leaders to help them win their market position</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">5</div>
                                <div class="media-body"><strong>Evaluation</strong> is a key aspect of this business and important</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">6</div>
                                <div class="media-body"><strong>Ética</strong> Nosotros siempre vamos a ser de confiar </div>
                            </li>
                        </ul>
                    </div> 
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <p><strong>We strive to achieve</strong> 100% customer satisfaction for both types of customers: hiring companies and job seekers. Types of customers: <a class="green" href="#your-link">with huge potential</a></p>
                        <p><strong>Our goal is to help</strong> your company achieve its full potential and establish long term stability for <a class="green" href="#your-link">the stakeholders</a></p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">It's easy to get a quotation, just call our office anytime</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We'll get back to you with an initial estimate soon</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Get ready to see results even after only 30 days</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Ask for a quote and start improving your business</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Just fill out the form and we'll call you right away</div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
        <div class="area-2"></div>
    </div>
   
    <div id="opinions" class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Lee la opinion de nuestros consumidores</h2>
                    <p class="p-heading">Podés <a class="green page-scroll" href="#contact">mandar la tuya!</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-1.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">Lo mejor que probé hasta ahora es la Honey de cerveza Havlicek.</div>
                                            <div class="testimonial-author">Paula Gomez</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-2.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">Excelente cuerpo. Exquisito sabor. Una delicia sin igual.</div>
                                            <div class="testimonial-author">Marta Richieri</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-3.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">No tiene comparación realmente. Menos mal que decidí probarla!</div>
                                            <div class="testimonial-author">Mariano Donila</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-4.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">He viajado por muchos paises en mi vida y probado cientos de tipos de cervezas artesanales. Nunca probé cosa semejante.</div>
                                            <div class="testimonial-author">Sofia Fidelco</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-5.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">Siempre cuando me junto con mis amigos tomamos un cajón de Ipas Havlicek.</div>
                                            <div class="testimonial-author">Angel Dominguez</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        @*<img class="card-image" src="images/testimonial-6.jpg" alt="alternative">*@
                                        <div class="card-body">
                                            <div class="testimonial-text">Esta cerveza artesanal es la prueba de que siempre hay que atreverse a probar cosas nuevas.</div>
                                            <div class="testimonial-author">Roberto Carlos Barbon</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="callme" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2 class="white">REGISTRARSE</h2>
                        <p class="white">Registrese para tener mayoría de opciones y poder contactarse con nosotros.</p>
                        <ul class="list-unstyled li-space-lg white">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Para saber más</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Enterarte de precios por mayor</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Y puntos de entrega.</div>
                            </li>
                        </ul>
                    </div>
                </div> 
                <div class="col-lg-6">

                    <form id="callMeForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="lname" name="lname" required>
                            <label class="label-control" for="lname">Nombre completo</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="lphone" name="lphone" required>
                            <label class="label-control" for="lphone">Teléfono</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="lemail" name="lemail" required>
                            <label class="label-control" for="lemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">REGISTRARME</button>
                        </div>
                        <div class="form-message">
                            <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-1.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Online Banking</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>
        </div> 
    </div>
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-2.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Classic Industry</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>--> <!-- end of col -->
        <!--</div>--> <!-- end of row -->
    <!--</div>
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-3.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>BoomBap Audio</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>--> <!-- end of col -->
        <!--</div>--> <!-- end of row -->
    <!--</div> 
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-4.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Van Moose</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>--> <!-- end of col -->
        <!--</div>--> <!-- end of row -->
    <!--</div> 
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-5.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Joy Moments</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>
        </div>
    </div>
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Spark Events</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>
        </div>
    </div>
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-7.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Casual Wear</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>
        </div>
    </div>
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-8.jpg" alt="alternative">
            </div>--> <!-- end of col -->
            <!--<div class="col-lg-4">
                <h3>Zazoo Apps</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div>
        </div>
    </div>-->o
    <div id="about" class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="https://scontent.fcor10-3.fna.fbcdn.net/v/t31.0-8/13559116_259785311056984_7021452873340390345_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=SG2dY2Nr-nsAX_esCqz&_nc_ht=scontent.fcor10-3.fna&oh=a0f8779c27b06306ed6797804fd2775c&oe=606BB68C" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="text-container">
                        <div class="section-title">SOBRE NOSOTROS</div>
                        <h2>Nuestra cerveza</h2>
                        <p>Buscamos todos poner un poco de nosotros para terminar logrando un buen objetivo en común.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Nosotros creamos hasta nuestro mas mínimo detalle; así como nuestras etiquetas.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Querés ser parte de nuestro proyecto? Contactanos!</div>
                            </li>
                        </ul>

                        <div id="counter">
                            <div class="cell">
                                <div class="counter-value number-count" data-count="1531">1</div>
                                <div class="counter-info">Personas<br>llegadas</div>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="97">1</div>
                                <div class="counter-info">Localidades<br>llegadas</div>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="725">1</div>
                                <div class="counter-info">Opiniones<br>positivas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2>Su opinion nos importa.</h2>
                        <p>Las opiniones de nuestros clientes nos empujan a notar nuestros puntos débiles y poder ir mejorandolos día a día.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Capilla del Monte, Cordoba</li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820"> Celular - 03548 617721</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">Teléfono Fijo - 471 3845</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:nadiahavlicek@gmail.com">CerveceriaHavlicek@hotmail.com</a></li>
                            <li><i class="fas fa-facebook-f"></i><a href="https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal"> Facebook - Cerveceria Havlicek</a></li>
                        </ul>
                       
                            @*<a href="#https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>*@
                     
                    </div> 
                </div> 
                <div class="col-lg-6">

                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nombre</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Tu opinión</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ENVIAR</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    
                </div> 
            </div>
        </div> 
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/morphext.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/3bd6aa7b25.js" crossorigin="anonymous"></script>


</body>
</html>

<script>function RedirectionLogin() {window.location.href='/Identity/Account/Login';} </script> 

