
<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;

}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Cerveza Havlicek</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <link rel="icon" href="">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-text page-scroll" href="index.html">Havlicek</a>


        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">INTRODUCCIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#opinions">OPINIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" onclick="RedirectionComprar()">COMPRAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">SOBRE NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">MANDAR OPINIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" onclick="RedirectionLogin()" href="#">INGRESAR</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><span id="js-rotating" class="titulosgrandes">UN PROYECTO, UNA CERVEZA, UNA FAMILIA</span></h1>
                            <p class="p-heading titulosgrandes">Nuestra cerveza está siendo creada día a día con la mas grande dedicación y amor para que llegue a tu mesa y de lo mejor de sí.</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">SABER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRODUCCIÓN</div>
                        <h2>Ofrecemos calidad a tu juntada.</h2>
                        <p>Nuestra cerveza tiene la intención de llegar a todos y cada uno de nuestros compradores con el mayor sabor.</p>
                        <p>Sin agregados de agua y con los precios más accesibles, manteniendo el sabor que se merece.</p>
                        <div class="testimonial-author"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="https://scontent.faep1-1.fna.fbcdn.net/v/t31.0-8/12495996_283953161973532_8517757356485438982_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=9267fe&_nc_ohc=iMD0Tce9bnoAX-7vQM3&_nc_ht=scontent.faep1-1.fna&oh=8d3c3eceb15f02f6ccde7ff4189c1589&oe=6081DDFB" width="450px" height="450px" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-binoculars fa-stack-1x"></i>
                            </span>
                            <div class="card-body">
                                <h4 class="card-title">Environment Analysis</h4>
                                <p>The starting point of any success story is knowing your current position in the business environment</p>
                            </div>
                        </div>
                        <div class="card">
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-list-alt fa-stack-1x"></i>
                            </span>
                            <div class="card-body">
                                <h4 class="card-title">Development Planning</h4>
                                <p>After completing the environmental analysis the next stage is to design and  plan your development strategy</p>
                            </div>
                        </div>
                        <div class="card">
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-chart-pie fa-stack-1x"></i>
                            </span>
                            <div class="card-body">
                                <h4 class="card-title">Execution & Evaluation</h4>
                                <p>In this phase you will focus on executing the actions plan and evaluating the results after each marketing campaign</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PRODUCTOS</div>
                    <h2>Un poco de nuestra variedad de productos<br> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t1.0-9/14067550_286778471691001_1753298273766508014_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=9267fe&_nc_ohc=S_EZS5zQeDwAX884ZGx&_nc_ht=scontent.fcor10-3.fna&oh=63819c06dcecae15c766cfbe5e66ecb1&oe=606D0203" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">IPA</h3>
                            <p>Elaborada con lúpulos con carácter floral, cítrico, a perfume, a pino, resinosos y/o frutal, aromas y sabores derivados de los lúpulos americanos. Decididamente amarga y muy lupulada; moderada, o para algunos, exageradamente, fuerte.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Contenido alcoholico: entre 5º y 7º</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t1.0-9/14358843_303171396718375_6221380465212176112_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=9267fe&_nc_ohc=tv0-43RxWrAAX8SpmcC&_nc_ht=scontent.fcor10-3.fna&oh=5d3d34358b5025ebd4e52775a11ae003&oe=606C23E8" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">HONEY</h3>
                            <p>Elaborada con miel, esta clase de cerveza dulce es llevada por los azúcares de la miel a elevar su contenido alcohólico por encima de la media. Es una cerveza fácil de tomar.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Contenido alcoholico: 6º~</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.fcor10-3.fna.fbcdn.net/v/t31.0-8/21316549_484043991964447_3209615817679294470_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Ma9_vYFkUG4AX8z14qt&_nc_ht=scontent.fcor10-3.fna&oh=d008e08915a7462631555b22f4db37f4&oe=606D1BFB" width="350px" height="400px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">OLD BROWN ALE</h3>
                            <p>Dulce con acentuado sabor a malta. Tiene sabor a caramelo, un color muy oscuro y algo de sabor a frutas morenas. Con espuma densa, cuerpo cremoso y con notas de oporto, de cuerpo fuerte.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Contenido alcoholico: 6º~</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="form-control-submit-button" onclick="GoToProducts()">VER MÁS</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*accelerate*@
    <!--<div>-->
    @*@Html.PartialAsync("~/PartialViews/_Accelerate.cshtml")*@
    <!--<partial name="./PartialViews/_Accelerate.cshtml" />
    </div>-->
    <div class="tabs">
        <div class="area-1">
            <div class="tabs-container">

                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Las mas vendidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Dónde encontrarnos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Otras localidades</a>
                    </li>
                </ul>
                <div class="tab-content" id="ariaTabsContent">

                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Sobre gustos..</h4>
                        <p>Nuestras cervezas más gustadas.</p>

                        <div class="progress-container">
                            <div class="title">Cream Ale 100%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Imperial IPA 76%</div>
                            <div class="progress">
                                <div class="progress-bar second" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Honey 90%</div>
                            <div class="progress">
                                <div class="progress-bar third" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body"><strong>Villa Carlos Paz</strong> regional "El Cucú"</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body"><strong>Giardino</strong> camino de los artesanos:</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> Restaurant y almacén Gourmet "Fratello"</div>
                            </li>

                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> Regional "El Totem"</div>
                            </li>

                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> "El Templario" - Av. San Martin 1687</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body"><strong>San Esteban</strong> mercadito "El Carrizal"</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body"><strong>Capilla del Monte</strong> Resto-Bar "Casa Latina"</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> proveeduría "Calabalumba" </div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> distribuidora "As de Copas" - Cordoba 352 </div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">-</div>
                                <div class="media-body"><strong></strong> Regional "El Roble" - Diagonal Buenos Aires 108 </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">

                        <p><strong> Los Cocos</strong> Kiosco Tere - av Cecilia Grierson 340</p>
                        <p>Regional "Bajo La Neblina" - Av. Grierson 366</p>
                        <p><strong> San Marcos Sierras </strong>  Paseo del Alfa - Regional y Dietética "La Comarca"</p>
                        <p>Bar "11/26" - Cordoba 1173</p>

                    </div>

                </div>

            </div>
        </div>
        <div class="area-2"></div>
    </div>

    <div id="opinions" class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Lee la opinion de nuestros consumidores</h2>
                    <p class="p-heading">Podés <a class="green page-scroll" href="#contact">mandar la tuya!</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">Lo mejor que probé hasta ahora es la Honey de cerveza Havlicek.</div>
                                            <div class="testimonial-author">Paula Gomez</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">Excelente cuerpo. Exquisito sabor. Una delicia sin igual.</div>
                                            <div class="testimonial-author">Marta Richieri</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">No tiene comparación realmente. Menos mal que decidí probarla!</div>
                                            <div class="testimonial-author">Mariano Donila</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">He viajado por muchos paises en mi vida y probado cientos de tipos de cervezas artesanales. Nunca probé cosa semejante.</div>
                                            <div class="testimonial-author">Sofia Fidelco</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">Siempre cuando me junto con mis amigos tomamos un cajón de Ipas Havlicek.</div>
                                            <div class="testimonial-author">Angel Dominguez</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="testimonial-text">Esta cerveza artesanal es la prueba de que siempre hay que atreverse a probar cosas nuevas.</div>
                                            <div class="testimonial-author">Roberto Carlos Barbon</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div id="callme" class="form-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <div class="section-title">CONTACTO</div>
                            <h2 class="white">REGISTRARSE</h2>
                            <p class="white">Registrese para tener mayoría de opciones y poder contactarse con nosotros.</p>
                            <ul class="list-unstyled li-space-lg white">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Para saber más</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Enterarte de precios por mayor</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Y puntos de entrega.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <form id="callMeForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="lname" name="lname" required>
                                <label class="label-control" for="lname">Nombre completo</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="lphone" name="lphone" required>
                                <label class="label-control" for="lphone">Teléfono</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="lemail" name="lemail" required>
                                <label class="label-control" for="lemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">REGISTRARME</button>
                            </div>
                            <div class="form-message">
                                <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@

    o
    <div id="about" class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="https://scontent.fcor10-3.fna.fbcdn.net/v/t31.0-8/13559116_259785311056984_7021452873340390345_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=SG2dY2Nr-nsAX_esCqz&_nc_ht=scontent.fcor10-3.fna&oh=a0f8779c27b06306ed6797804fd2775c&oe=606BB68C" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="text-container">
                        <div class="section-title">SOBRE NOSOTROS</div>
                        <h2>Nuestra cerveza</h2>
                        <p>Buscamos todos poner un poco de nosotros para terminar logrando un buen objetivo en común.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Nosotros creamos hasta nuestro mas mínimo detalle; así como nuestras etiquetas.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Querés ser parte de nuestro proyecto? Contactanos!</div>
                            </li>
                        </ul>

                        <div id="counter">
                            <div class="cell">
                                <div class="counter-value number-count" data-count="1531">1</div>
                                <div class="counter-info">Personas<br>llegadas</div>
                            </div>
                            @*<div class="cell">
                                    <div class="counter-value number-count" data-count="97">1</div>
                                    <div class="counter-info">Localidades<br>llegadas</div>
                                </div>*@
                            <div class="cell">
                                <div class="counter-value number-count" data-count="725">1</div>
                                <div class="counter-info">Opiniones<br>positivas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2>Su opinion nos importa.</h2>
                        <p>Las opiniones de nuestros clientes nos empujan a notar nuestros puntos débiles y poder ir mejorandolos día a día.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Capilla del Monte, Cordoba</li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820"> Celular - 03548 617721</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">Teléfono Fijo - 471 3845</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:nadiahavlicek@gmail.com">CerveceriaHavlicek@hotmail.com</a></li>
                            <li><i class="fas fa-facebook-f"></i><a href="https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal"> Facebook - Cerveceria Havlicek</a></li>
                        </ul>

                        @*<a href="#https://www.facebook.com/Cerveza-artesanal-Havlicek-259783027723879/?ref=page_internal">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>*@

                    </div>
                </div>
                <div class="col-lg-6">

                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nombre</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Tu opinión</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ENVIAR</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/morphext.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/3bd6aa7b25.js" crossorigin="anonymous"></script>

    @*--redirections--*@

    <script>function RedirectionLogin() { window.location.href = '/Identity/Account/Login'; }</script>
    <script>function GoToProducts() { window.location = "/Products/Index" }</script>
    <script>function RedirectionComprar() { window.location = "/VentaCabeceras/Index" }</script>


</body>
</html>


