@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Ha olvidado su contraseña?";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, chequee su email para confirmar su nueva contraseña.
</p>

