@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta se ha bloqueado. Por favor, intente de nuevo más tarde.</p>
</header>
