@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña se ha cambiado con exito. Haga click en <a asp-page="./Login"> para ingresar.</a>.
</p>
