
@model Cerveceria2._0.Models.Category

@{ Layout = "";}
<h4>Categoría</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatePartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" id="DescriptionCategory" />
                <span asp-validation-for="Description" class="text-danger" id="validationCategory"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="EnviarPost()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
